<div data-count="{{ data.episodes.count }}" data-episodes-target="count"></div>

{% for item in data.episodes.items | reverse %}
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 playable episode card{% if item.user.username === 'patternradio' %} brand{% endif %}" data-url="https://www.mixcloud.com/widget/iframe/?hide_cover=1&autoplay=1&feed={{ item.key }}">
    <div class="image-container" data-action="click->radio#play">
      <img src="{{ item.pictures.large }}" alt="{{ item.name }}" class="card-img-top"/>

      <div class="playable-button">
        <span class="button">
          <button></button>
        </span>
      </div>

      <div class="d-flex statistics p-2">
        <div class="flex-grow-1">
          <span>{{ timeToMinutes(item.audio_length) }} min</span>
        </div>

      {% if item.favorite_count > 0 and item.user.username === 'patternradio' %}
        <div class="likes count">
          <span>{{item.favorite_count}}</span>
        </div>
      {% endif %}

      {% if item.repost_count > 0 and item.user.username === 'patternradio' %}
        <div class="reposts count ms-2">
          <span>{{item.repost_count}}</span>
        </div>
      {% endif %}
      </div>
    </div>

    <div class="card-body">
      {% set title = showData(item.name).title %}
      {% if item.user.username === 'patternradio' %}

        <h5 class="card-title">
          <a data-controller="navigation" data-action="click->navigation#navigate" href="/episode/{{ item.slug }}" class="nav-link mb-1 fs-3">{{ showData(item.name).detail }}</a>
        </h5>

        <h5 class="card-title">
          {{showData(item.name).host}}

        </h5>

        <p class="card-text mb-1">
          <a data-controller="navigation" data-action="click->navigation#navigate" href="/show/{{ showTitleId(title | trim) }}" class="nav-link fs-6">{{ showData(item.name).title }}</a>
        </p>
      {% else %}
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">{{item.user.name}}</p>
      {% endif %}

      <ul class="tags ps-0" data-action="click->episodes#tagsearch">

        {% for tag in item.tags %}
          <li>
            <button class="me-2 badge">{{ tag.name }}</button>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
{% endfor %}