{% extends "layout.njk" %}

{% block content %}
  <div class="container-fluid py-4">
    <div data-controller="episode" data-episode-id-value="{{ item }}">
      <div data-episode-target="items"></div>
    </div>
  </div>
{% endblock %}