{% extends "layout.njk" %}

{% block content %}

  <div class="container-fluid">
    <div class="row row--orange mb-3 mb-md-0">
      <div class="col-12 col-xl-4 pb-4">
        <div class="flex-fill">
          <h1>Musical selections and discovery curated for enlightened listening</h1>
        </div>
        <div class="d-flex flex-column">
          <div class="flex-fill mb-3 content-area">
            <h4 class="fs-2">Streaming Now</h4>
            <div data-controller="stream" data-action="stream:update->status#update">
              {% include "partial/_stream.njk" %}
            </div>
          </div>

          <div class="flex-fill content-area">
            <div class="row pt-0">
              <div data-controller="status">
                <h4 class="mb-1">Streaming Next</h4>
                <p data-status-target="track" class="mb-2">next</p>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-4 pb-4">
        <h3>Recommended listening</h3>
        <div class="episodes pb-2 content-area" id="latest" data-controller="episodes" data-episodes-template-value="carousel" data-episodes-title-value="listen to latest shows" data-episodes-items-value="2" data-filtered="true">
          <div class="carousel slide" id="episode-carousel" data-bs-ride="carousel">
            <div class="episodes carousel-inner" data-episodes-target="items"></div>
              <button class="carousel-control-next" type="button" data-bs-target="#episode-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-4 pb-4">
        <div class="row g-0 p-0">
          <h3>Coming Soon</h3>
          <div class="col-12 col-sm-5 content-area pb-2">
            <img src="images/shows/skullmonday.jpg" class="w-100" alt="Skull Monday on Pattern Radio"/>
          </div>

          <div class="col-12 col-sm-7 ps-sm-0 content-area">
            <h4 class="fs-2">Return of Skull Monday</h4>
            <p class="mb-1">Sunday 25th February</p>
            <p>Skull Monday is back this weekend as Heyyo B and Opo-wan return from their winter travels.<p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-2">
        <div class="order-lg-1 episodes list" id="episodes" data-controller="episodes heading" data-action="episodes:heading->heading#update" data-episodes-creator-value="internal" data-episodes-title-value="New On Pattern Radio" data-filtered="true" data-episodes-items-value="6" data-episodes-offset-value="0">
          <div class="heading d-flex">
            {% include "partial/list/_heading.njk" %}
          </div>

          <div class="footer d-flex p-2">
            <div class="flex-grow-1">
              <p class="mb-0">Click show to load in player</p>
            </div>
            <a data-action="click->navigation#navigate" class="nav-link" href="/browse">Browse all shows</a>
          </div>
          
          <div class="row episodes gx-3 gx-sm-4" data-episodes-target="items"></div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="order-lg-1 episodes list" id="episodes" data-controller="episodes heading" data-action="episodes:heading->heading#update" data-episodes-creator-value="external" data-episodes-title-value="New Recommended Shows" data-filtered="true" data-episodes-items-value="6" data-episodes-offset-value="0">
          <div class="heading d-flex">
            {% include "partial/list/_heading.njk" %}
          </div>

          <div class="footer d-flex p-2">
            <div class="flex-grow-1">
              <p class="mb-0">Click show to load in player</p>
            </div>
            <a data-action="click->navigation#navigate" class="nav-link" href="/browse">Browse all shows</a>
          </div>
            
          <div class="row episodes gx-3 gx-sm-4" data-episodes-target="items"></div>
          
        </div>
      </div>

    </div>

    <div class="col-12 mb-5">
      <div id="upcoming-shows" data-controller="schedule" data-schedule-show-item-template-id="schedule">
        <div class="row episodes" data-schedule-target="episodes">
          <h3 class="mb-3">Coming Soon On Pattern Radio</h3>
        </div>

        {% include "template/_schedule.njk" %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
