{% extends "layout.njk" %}

{% block content %}
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h3>Andrew Weatherall Tribute</h3>
          <h4 class="mb-3">Pattern Radio - Friday 29th March 2024</h4>
          <div class="d-md-flex">
            <div>
              <img src="/images/shows/special/andrew-weatherall-special.png" class="img-fluid pe-3 pb-1" height="300" width="300" alt="Andrew Weatherall Tribute">
            </div>
            <div class="flex-grow-1 my-3 my-md-0">
              <p class="mb-2">A very special exclusive broadcast celebrating 20 years since a very special night.</p>
              <p class="m-0"><strong>6pm Alex Bowen - Andrew Weatherall tribute mix</strong></p>
              <p class="m-0"><strong>8pm Dan Moore - Live @ Superconductor 26/3/04</strong></p>
              <p class="m-0"><strong>9pm Andrew Weatherall - Live @ Superconductor 26/3/04</strong></p>
              <p class="mt-2 p-0 fs-6">This will be a one off broadcast of the music from that night and will not be streamed again on Pattern Radio.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row g-0">
      <div class="col-md-12">
        <h4>Superconductor - Friday 26th March 2004</h4>
        <p>On this day Andrew Weatherall jumped on a train from London to Leeds to DJ at monthly underground electronic club night Superconductor. The venue was Stinky’s Peephouse and the club was packed in anticipation.</p>
        <p>Needless to say that night it went off and the dance floor didn’t let up from start to finish. It is a night that sticks in memory as one of the best. Andy played a blistering 3 hours, uncompromising and ferocious, and you will hear it in all its glory.</p>
      </div>
    </div>

    <div class="row g-0">
      <div class="col-md-12">
        <img src="/images/shows/special/aw-ticket.jpeg" class="img-fluid pe-3 pb-1" height="300" width="300" alt="Superconductor ticket for Andrew Weatherall" />
        <img src="/images/shows/special/aw-flyer.png" class="img-fluid pe-3 pb-1" height="300" width="300" alt="Superconductor flyer for Andrew Weatherall" />
      </div>
    </div>

    <div class="row">
      <p><em>Andy played regularly at Superconductor and for some of those nights he gave us permission to record his set. This recording has been sat in the archives ever since and it is being made available all these years later only out of complete respect to Andy. Pattern Radio is a non profit organisation and exists solely for the love of and sharing quality music. Bringing you this special broadcast fits with those values.</em></p>
      <p><em>Remember it is a 20 year old live recording and hence we have re-mastered it a little to make it as good as possible for broadcast. But at the same time have been very mindful to leave it true to the original sound.</em></p>
    </div>
  </div>
</div>

{% endblock %}