  <template id="tag">
    <li data-target="tags.item" data-action="click->filters#updateSelected" style="cursor:pointer" class="tag">
      <span>x</span>
      <button class="mb-2 mb-md-0"></button>
    </li>
  </template>