<div class="pagination d-flex flex-wrap flex-md-nowrap">
  <div data-pagination-target="stats" class="flex-grow-1"></div>
  <div data-pagination-target="control" data-action="click->pagination#paginate"></div>
</div>