<form class="input-group input-group-sm" id="search" role="search" data-action="submit->search#request">
  <input type="text" class="form-control" placeholder="search all shows" aria-label="search shows" aria-describedby="button-addon2" data-search-target="query"></input>
  <button class="btn btn-secondary" type="button" id="button-addon2" data-action="click->search#request">Go</button>
</form>