<div class="row pt-0 pb-2">
  <div class="col-12">
    <h3 class="mb-0">Shows Available For Playback</h3>
  </div>
  <div class="col-12">
    <span>(Preferences Applied)<button data-action="click->episodes#clearFilters" style="border:none; text-decoration: underline;color:#717171">reset</button>
    </span>
  </div>
</div>