<template id="episode-detail">

  <div class="playable episode carousel-item active" data-bs-interval="4000">
    <div class="row g-0">
      <div class="col-12 col-sm-3">
        <div class="image-container me-3 mb-3" data-action="click->radio#play">
          <div class="likes">
            <span class="heart"></span>
            <span class="count"></span>
          </div>
          <img src="images/new/online2.jpg" class="img-fluid" alt="..."/>

          <div class="playable-button">

            <span class="button">
              <button></button>
            </span>
          </div>

          <div class="badge">
            <span class="time"></span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-9">
        <h5 class="fs-3">
          <a data-controller="navigation" data-action="click->navigation#navigate"  href="#" class="title nav-link" style="color:#1c1c1c"></a>
          <a data-controller="navigation" data-action="click->navigation#navigate"  href="#" class="detail nav-link" style="color:#1c1c1c"></a>
        </h5>
        <p class="host fs-5"></p>
        <ul class="tags ps-0" data-action="click->episodes#tagsearch"></ul>
      </div>
    </div>

    <div class="row">

      <div class="col">

        <p class="description"></p>
      </div>
    </div>

  </div>
</div>

</template>