<template id="episode-latest">

<div class="playable episode mb-3 carousel-item active" data-bs-interval="4000">
  <div class="row g-0 p-0">
    <div class="col-12 col-sm-5 content pb-0">
      <div class="image-container w-100" data-action="click->radio#play">
        <div class="likes">
          <span class="heart"></span>
          <span class="count"></span>
        </div>
        <img src="images/new/online2.jpg" class="w-100" alt="..." />

        <div class="playable-button">

          <span class="button">
            <button></button>
          </span>
        </div>

        <div class="badge">
          <span class="time"></span>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-7 content">
      <h5 class="card-title">
        <a data-controller="navigation" data-action="click->navigation#navigate"  href="#" class="detail nav-link fs-2" style="color:#1c1c1c"></a>
        <a data-controller="navigation" data-action="click->navigation#navigate"  href="#" class="title nav-link mb-1 fs-4" style="color:#1c1c1c"></a>
      </h5>
      <p class="card-text host"></p>

      <ul class="tags ps-0" data-action="click->episodes#tagSearch"></ul>

      <p class="card-text">
        <a data-controller="navigation" data-action="click->navigation#navigate"  href="#" class="detail nav-link" style="color:#1c1c1c">More detail</a>
      </p>
    </div>
  </div>
</div>

</template>