<template id="schedule">
  <div class="col-6 col-md-4 col-lg-3 col-xl-2 card episode">

    <img src="images/new/online2.jpg" alt="...">

    <div class="card-body">
      <h3 class="fs-6 card-title title p-0"></h3>
      <h4 class="fs-6 host m-0 p-0"></h4>
      <p class="when m-0 p-0"></p>
    </div>
  </div>

</template>