{% extends "layout.njk" %}

{% block content %}

  <div class="container-fluid">
    <div class="row pb-2">
          {# <h5>&gt;&gt;&gt; Click play icon above to start stream</h5> #}
    <h3>Musical selections and discovery for enlightened listening</h3>

      <p>Pattern Radio a non-profit organisation.</p>
      
      <p><a href="https://www.instagram.com/patternradio_pt/" class="nav-link" target="_blank">https://www.instagram.com/patternradio_pt/</a></p>
      <p><a href="https://www.facebook.com/groups/patternradio" class="nav-link" target="_blank">https://www.facebook.com/groups/patternradio</a></p>
      <p><a href="https://www.mixcloud.com/patternradio/" class="nav-link" target="_blank">https://www.mixcloud.com/patternradio/</a></p>
      <p><a href="https://medium.com/@patternradio" class="nav-link" target="_blank">https://medium.com/@patternradio</a></p>
      <p><a href="mailto:info@patternradio.net" class="nav-link">info@patternradio.net</a></p>
    </div>
  </div>

{% endblock %}