{% extends "layout.njk" %}

{% block header %}
{% include "partials/filters/_tag.njk" %}

  <div data-controller="stream status" data-action="stream:update->status#update">
    <div class="container-fluid content-header py-3" data-controller="filters" data-filters-target-value="blogs" data-filters-selected-template-id="selected" data-filters-tag-item-template-id="tag">
      <div class="d-md-flex">
        <div class="d-flex flex-md-grow-1">
          {% include "partials/_stream.njk" %}
        </div>

                <div class="d-flex pt-3 p-md-0">
          <a class="nav-link toggle-link fs-6 pe-3 flex-grow-1" data-bs-toggle="collapse" href="#filter-controls" role="button" aria-expanded="false" aria-controls="collapseexample">
            Your Preferences
          <span class="filters-selected-status" data-filters-target="status"></span>
            <span class="toggle-link__icon"></span>
          </a>
        </div>

        <div class="d-flex pt-3 p-md-0">
          <a class="nav-link toggle-link" data-bs-toggle="collapse" href="#stream-detail" data-action="click->status#detail" role="button" aria-expanded="false" aria-controls="collapseexample">

            <span class="filters-selected-status" data-filters-target="status"></span>
            <span class="toggle-link__icon"></span>
            <p data-status-target="title" class="mb-0">Currently offline</p>
          </a>

        </div>
      </div>

      <div class="collapse toggle-panel pt-3" id="stream-detail">
        <div class="row">
          <div class="col-6">
            <h5 class="highlight">Now</h5>

            <img src="" data-status-target="currentimage" class="float-start pe-2 pb-1"/>
            <h5 data-status-target="currenttitle"></h5>
            <span data-status-target="currentelapsed"></span>
          </div>

          <div class="col-6">
            <h5>Next</h5>

            <img src="" data-status-target="nextimage" class="float-start pe-2 pb-1"/>
            <span data-status-target="nexttitle"></span>
          </div>
        </div>

      </div>

      <div class="collapse" id="filter-controls" data-filters-target="panel">
        <div class="filters">
          <div class="d-md-flex flex-row">
            <div class="filters-header">

              <ul class="nav nav-fill" data-filters-target="nav"></ul>

              <div class="groups"><ul data-filters-target="groups"></ul></div>

              <div class="selected" data-filters-target="selected">
                <p class="filters-selected--none">No preferences selected</p>

                <div class="d-flex">
                  <button class="btn btn--link filters-selected--clear d-none" data-action="click->filters#clear">clear preferences</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}


  <div class="container-fluid">
        <h5>&gt;&gt;&gt; Click play icon above to start stream</h5>
    <p class="lead mt-3 mb-4">Musical selections and discovery streamed for enlightened listening. You can curate your own content to suit your musical preferences using the drop down menu above.</p>

    <div class="blogs" id="blogs" data-action="blogs:loaded->pagination#update pagination:paginate->blogs#paginate" data-controller="blogs pagination" data-blogs-show-item-template-id="blog" data-blogs-items-value="2" data-blogs-offset-value="0" data-blogs-filters-value="true" data-blogs-show-tags-value="true">
      <h2>Blog Posts</h2>

      <div class="pagination d-flex flex-wrap flex-md-nowrap">
        <div data-pagination-target="stats" class="flex-grow-1"></div>
        <div data-pagination-target="control" data-action="click->pagination#paginate"></div>
      </div>

      <div class="row shows" data-blogs-target="items"></div>
    
      {% include "templates/_blog.njk" %}
    </div>
  </div>

{% endblock %}