<header class="main-header" data-controller="header filters" data-action="scroll@window->header#scroll" id="filters" data-filters-selected-template-id="selected" data-filters-tag-item-template-id="tag" data-filters-target-value="episodes">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/brand/logo_white.png" height="55" width="55"/>
      </a>

      <a class="nav-link toggle-link order-md-2 ps-2" data-bs-toggle="collapse" data-bs-target=".multi-collapse" href="#filter-controls" role="button" aria-expanded="false" aria-controls="filter-controls">
        Preferences
        <span class="filters-selected-status" data-filters-target="status"></span>
        <span class="toggle-link__icon"></span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarnavdropdown" aria-controls="navbarnavdropdown" aria-expanded="false" aria-label="toggle navigation" data-filters-target="indicator">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse pt-3 pt-md-0" id="navbarnavdropdown">
        <ul class="navbar-nav justify-content-end flex-grow-1">
          <li class="nav-item">
            <a data-action="click->navigation#navigate" class="nav-link {% if page === "home" %}active{% endif %}" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a data-action="click->navigation#navigate" class="nav-link {% if page === "browse" %}active{% endif %}" aria-current="page" href="/browse">Browse</a>
          </li>
          <li class="nav-item">
            <a data-action="click->navigation#navigate" class="nav-link {% if page === "shows" %}active{% endif %}" href="/shows">Shows</a>
          </li>
          <li class="nav-item">
            <a data-action="click->navigation#navigate" class="nav-link {% if page === "live" %}active{% endif %}" href="/live" data-external="true">Live</a>
          </li>
          <li class="nav-item">
            <a data-action="click->navigation#navigate" class="nav-link {% if page === "posts" %}active{% endif %}" href="/posts">Blog</a>
          </li>
          <li class="nav-item">
            <a data-action="click->navigation#navigate" class="nav-link {% if page === "about" %}active{% endif %}" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% include "template/filters/_tag.njk" %}
  <div class="container-fluid header__dropdown">

    <div class="collapse multi-collapse scroll-collapse" id="filter-controls" data-filters-target="panel">
      <div class="filters">
        <div class="d-md-flex flex-row">
          <div class="filters-header">

            <ul class="nav nav-fill" data-filters-target="nav"></ul>

            <div class="groups mt-3">
              <ul data-filters-target="groups"></ul>
            </div>

            {# <div class="selected" data-filters-target="selected">
              <p class="filters-selected--none">No preferences selected</p>

              <div class="d-flex">
                <button class="btn btn--link filters-selected--clear d-none" data-action="click->filters#clear">clear preferences</button>
              </div>
            </div> #}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="main-content">
  {% block content %}{% endblock %}
</div>
