{% extends "layout.njk" %}

{% block content %}
  <div data-show-id-value="{{ item.id }}">
    <div class="container-fluid">
      <div class="row episodes pb-4">
        <div class="col-12 col-md-6 card episode">
          <h3 class="mb-3">{{ item.title }}</h3>
          <div class="row g-0">
            <div class="col-md-12">
              <img src="/{{ item.image }}" class="img-fluid float-start pe-3 pb-1" height="200" width="200" alt="{{ item.name }}">
              <h4 class="host m-0 p-0">{{ item.subtitle }}</h4>
              <p class="when m-0 p-0 fs-6">{{ item.about }}</p>
              <div class="social-toolbar">
                {% include "partials/_social-toolbar.njk" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="list" id="episodes" data-action="episodes:paginate->pagination#update pagination:paginate->episodes#paginate" data-controller="episodes heading pagination" data-episodes-items-value="12" data-episodes-query-value="{{ item.title }}" data-episodes-types-value="true" data-episodes-search-value="true">
      <div class="container-fluid pb-2">
        {% include "partials/list/_pagination.njk" %}

        <div class="row episodes" data-episodes-target="items"></div>
        <a class="nav-link" href="/shows" data-controller="navigation" data-action="click->navigation#navigate">Back to all shows</a>
      </div>
    </div>

    <div class="container-fluid mt-4">
      <h2>Relevant Reading</h2>
      {% set query = [item.id, item.tags] | join(",") %}
      <div class="row episodes pb-4" data-controller="posts" data-posts-target="items" data-posts-overidden-value="true" data-posts-show-item-template-id="post" data-posts-offset-value="0" data-posts-items-value="12" data-posts-query-value="{{ query }}" data-posts-search-value="true">
        <div data-posts-target="items"></div>
      </div>
    </div>
  </div>

{% endblock %}