<div class="stream playable" data-action="click->radio#play" data-url='https://embed.radio.co/player/b84cf70.html'>

  <div data-stream-target="play" class="playable__button pe-4">
    <span class="button">
      <button></button>
    </span>
  </div>

  <p data-stream-target="track" class="ms-2 mb-0">Back at 10am (GMT)</p>
</div>



        