<footer class="container-fluid py-3">
  <div class="row">
    <div class="col-md text-center text-md-start">
      <span class="copyright">&copy; 2024 Pattern Radio</span>
    </div>
  </div>
</footer>