// fonts
$brand-font-primary: "Bebas Neue";
$brand-font-secondary: "Urbanist";

//colors
$brand-color-primary: #E85C41;
$brand-color-secondary: #E8D7B9;
$brand-color-dark: #1C1C1C;
$brand-color-medium: #B8B8B8;
$brand-color-light: #E0E1E1;
$brand-color-white: #F2F2F2;
