.episode {
  &__header {
    position: relative;
    display: inline-block;
    border: 6px solid $brand-color-light;

    .playable {
      &__button {
        top: 8px;
        left: 8px;
      }
    }

    .statistics {
      background-color: $brand-color-light;
      font-size: 0.9rem;

      &__count {
        padding-left: 1.3rem;
        background-position: left;
        background-repeat: no-repeat;
      }

      &__likes {
        background-image: url(/images/icons/heart.svg);
      }

      &__reposts {
        background-image: url(/images/icons/repost.svg);
      }
    }
  }

  p {
    padding: 0;
    margin: 0;
  }

  pre {
    font-family: $brand-font-secondary, sans-serif;
    text-wrap: wrap;
  }

  .card-body {
    padding: 0.5rem;
    width: 100%;
  }

  .nav-link {
    color: $brand-color-dark;
  }
}

.playable {
  &__button {
    position: absolute;
    align-self: center;

    span {
      width: 40px;
      height: 40px;
      background-color: $brand-color-dark;
      display: inline-block;
      border-radius: 50%;
      border: 2px solid $brand-color-white;
      position: relative;
    }

    button {
      top: 8px;
      position: absolute;
      left: 12px;
      background-color: transparent;
      border-style: solid;
      border-width: 9px 0px 9px 16px;
      border-color: transparent transparent transparent rgba(255, 255, 255, 1);
      box-sizing: border-box;
    }
  }

  &:hover {
    cursor: pointer;

    button {
      border-color: transparent transparent transparent $brand-color-primary;
    }
  }
}
