.social-toolbar {
  .list-group {
    line-height: 1;

    .list-group-item {
      border: none;
      background-color: transparent;

      &:first-child {
        padding-left: 0;
      }

      a {
        color: $brand-color-dark;

        &:hover {
          color: $brand-color-primary;
        }
      }
    }
  }
}
