.social-toolbar {
  .list-group {
    line-height: 1;

    .list-group-item {
      border: none;
      background-color: transparent;

      &:first-child {
        padding-left: 0;
      }

      a {
        color: #1c1c1c;

        &:hover {
          color: #E85C41;
        }
      }
    }
  }
}