.tags {
  list-style-type: none;
  padding: 0;

  li {
    cursor: pointer;
    display: inline;
    text-transform: capitalize;

    span {
      @include font-size(0.6rem);
      margin-right: 0;
      border: none;
      background-color: $brand-color-light;
    }
  }
}
