<template id="post">
  <div class="col-12 card blog-post mb-4">
    <div class="card-body p-0">
      {# <h2 class="card-title" data-blog-target="title"></h2> #}
      
      <div data-posts-target="content" class="content"></div>

      
    </div>
    <ul class="tags ps-0 mb-3 mt-2"></ul>
  </div>
</template>